* {margin-top: 0px;}
body { background-color: white;
	min-width: 700px;}

	/*início da barra supeior*/

#container {position: relative; 
	width : 80%; 
	margin: 0px auto;
min-width: 750px;}

.barra-superior {	
	background: #205AAC;
	padding: 5px;
	height: 63px;}

.logobussula {
	margin-top: -5px;
	float: left ;
	clear: left;
	width:100px;
	height: 63px}

.logo {margin-left: -90px}


.navegacao {float: right;
	clear:right;
	position: absolute;
	top:10px; right: 10px}

a.linkum:hover {background-color: lightblue;
margin: 10px 4px;
color: black;}

a.linkum:link {text-decoration: none;
	color: white;
	padding: 5px;}

a.linkum:visited {
	color: white;}
/*fim da barra superior*/

/*início do formulário*/

#formulario { width: 80%; 
position: relative;
left: 135px;}

fieldset {background-color: #D7D6D6;
	margin: 10px 0px;
}

legend { font-weight:  bold; }

label { cursor: pointer; 
display: block;}

input { width: 400px; }


button { width: 70px;
background-color: #205AAC; }
/* fim do corpo*/

/*rodapé início*/
#rodape { position: absolute; 
bottom: -220px;
left: 550px;}

.copyright { width: 20px; 
	position: relative;
bottom: -5px;}
/*fim do rodapé*/



